language = "nodejs"
run = "npm start"
entrypoint = "index.js"
modules = ["nodejs-18", "web"]

[nix]
channel = "stable-25_05"
packages = ["libuuid", "python3", "pkg-config", "pixman", "cairo", "pango", "libjpeg", "giflib", "librsvg"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Main Bot Application"

[[workflows.workflow]]
name = "Main Bot Application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80
